@import "../../constants/colors.scss";

.HomePage {
  font-size: 14px;
  padding: 35px 50px;
  min-height: 100vh;
}

@media only screen and (max-width: 450px) {
  .HomePage {
    padding: 35px 20px;
  }
}
