@import "../../../../constants/colors.scss";

.light .SearchInput {
  background-color: $White;
  .searchIcon {
    color: $DarkGrayLightModeInput;
  }
  input {
    color: $DarkGrayLightModeInput;
  }
  input::placeholder {
    color: $DarkGrayLightModeInput;
  }
}

.dark .SearchInput {
  background-color: $DarkBlueDarkModeElements;
  input {
    color: $White;
  }
  input::placeholder {
    color: $White;
  }
}

.SearchInput {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0 20px;
  min-width: 250px;
}

.inputContainer {
  margin-left: 10px;
  width: 100%;
  input {
    background-color: transparent;
    border: none;
    height: 47px;
    padding: 0;
    width: 100%;
  }

  input:focus {
    outline: none;
  }
}

@media only screen and (max-width: 630px) {
  .SearchInput {
    margin-bottom: 40px;
    min-width: auto;
  }
}
